.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  
}

#navigation {
  display: flex;
  flex-direction: row;
  gap: 2em;
  
}


 
#navigation h3 {
  line-height: 2.5em;
}

#mapcontainer {
  display: flex;
  justify-content: center;
  padding: 3em;
}

#map {
  height: 400px;
  width: 850.4px;
  border: 0.5em solid black;
  border-radius: 22px;
  padding: 2em;
}